
.m-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #000;
  opacity: 0;
  height: 0;
  transition: height 200ms ease-out, opacity 200ms ease-out;

  &.open {
    height: 47px;
    opacity: 1;
  }

  .item {
    color: #666;

    &.active {
      color: #000;
    }
  }
}
